<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



<h1>my blog first</h1>
<hr>

<button><a href="/write">write news</a></button>
<br>


<% for (let i = 0; i < posts.length; i++){ %>

<a href="/post/<%= ( i ) %>"><%= posts[i].title %></a>

<button><a href="/del/<%= ( i ) %>">del</a> </button>
<button><a href="/edit/<%= ( i )%>">edit</a> </button>
<br>
<%}%>



</body>
</html>