<footer class="footer">
    <div class="footerMainBlock">

        <ul>
            <li>Все права защищены</li>
            <li>Об авторе</li>
            <li>О сайте</li>
        </ul>
    </div>
</footer>