<header>
    <div class="center-block-main">
        <div class="logo"><a  href="/">main</a></div>
        <nav>

            <ul class="menu">
                <li class="main">
                    <div class="hoverMenu">
                        <a href="/fighters">Бойцы</a>
                    </div>
                </li>
                <li><a href="/video">Видео</a></li>
                <li><a href="news">Новости</a></li>
                <li><a href="/event">бои</a></li>
                <li><a href="/streams">трансляции</a></li>
                <li><a href="/about">О сайте</a></li>
            </ul>

            <div class="dropdown hidenDropDown" >
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Новости туризма</a></li>
                    <li><a href="#">Документы для путешествий</a></li>
                    <li><a href="#">Турфирмы</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>