<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>

<div class="mainBlock mainContent">

    о себе любимом что нибудь написать нужно бы)))
</div>


</body>

<% include ../helpers/footer.ejs%>

</html>