<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>

<div class="specialBlockForDetailPage">


    <!--<div class="titleCommon">-->
    <!--<span>-->
    <!--имя бойца-->
    <!--</span>-->
    <!--</div>-->


    <div class="mainBlock detailFighters">


        <div class="nameOfFighterDetail">
            <p>Тони фергюссон</p>
        </div>

        <div class="infoAboutFighterDetail">
            <div class="imgOfFighter">
                <img src="/img/Khabib-Nurmagomedov_232925_RightFullBodyImage.png" alt="">
            </div>

            <div class="detailInfo">
                <div class="birthAndAge">
                    <ul>
                        <li>
                            <span class="boldDetail">Дата рождения :</span> 1984-02-12
                        </li>
                        <li>
                            <span class="boldDetail">Возраст :</span> 34
                        </li>
                    </ul>
                </div>

                <div class="weightHeightCat">
                    <ul>
                        <li>
                            <p>Вес</p>
                            <ul>

                                <li class="dark">61 кг</li>
                                <li>135 lbs</li>

                            </ul>
                        </li>
                        <li>
                            <p>Рост</p>
                            <ul>

                                <li class="dark">61 кг</li>
                                <li>135 lbs</li>

                            </ul>
                        </li>
                        <li>
                            <p>Весовая категория</p>
                            <ul>

                                <li class="dark">тяжелая</li>
                                <li>heavyweight</li>

                            </ul>
                        </li>
                    </ul>

                    <div class="twoTable">

                        <table class="winsFight">

                            <tr>
                                <th>победы</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>ko/tko</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>решением</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>ko/tko</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>решением</th>
                                <th class="countFight">2</th>
                            </tr>



                        </table>

                        <table class="losesFight">

                            <tr>
                                <th>победы</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>ko/tko</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>решением</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>ko/tko</th>
                                <th class="countFight">2</th>
                            </tr>
                            <tr>
                                <th>решением</th>
                                <th class="countFight">2</th>
                            </tr>



                        </table>
                    </div>

                </div>
            </div>
        </div>



        <div class="nextFightName"> Следующий бой</div>

        <div class="nextFight">

            <div class="imgNextFight">

                <div class="nameOfNextEvent">
                    UFC
                </div>

                <ul>
                    <li>
                        <img src="/img/littleTony.png" alt="">

                        <ul>
                            <li> Орловский </li>
                            <li> Рекорд    </li>
                            <li>  </li>
                        </ul>
                    </li>

                    <li class="versusDetail"> VS </li>

                    <li>
                        <img src="/img/littleTony.png" alt="">

                        <ul>
                            <li>Орловский </li>
                            <li>Орловский </li>
                            <li>Орловский </li>
                        </ul>

                    </li>
                </ul>

                <div class="watchAllCard">
                    Смотреть весь кард
                </div>

            </div>


        </div>


        <!--<div class="nextFightName">-->
        <!--Биография-->

        <!--</div>-->
        <!--<div class="biographyText">-->
        <!--Lorem ipsum dolor sit amet, consectetur-->
        <!--adipisicing elit. Corporis delectus-->
        <!--deserunt dignissimos dolorem doloremque ducimus-->
        <!--in laudantium magnam magni maxime-->
        <!--, mollitia necessitatibus nostrum-->
        <!--obcaecati officiis omnis-->
        <!--porro quas, reiciendis rerum!        </div>-->

        <div class="nextFightName">
            История боев
        </div>

        <div class="historyOfFights">

            <table class="historyOfFightsTable">
                <tr>
                    <th>Результат</th>
                    <th>Соперник</th>
                    <th>Событие/Судья</th>
                    <th>Р</th>
                    <th>Время</th>
                    <th>Видео</th>
                </tr>
                <tr>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                </tr>
            </table>

        </div>

    </div>



    <aside>

        <div class="rightMenu ">

            <!--<div class="nameOfAsideRight">-->
            <div>Календарь</div>
            <div>Бойцы</div>
            <!--популярное-->
            <!--</div>-->


        </div>

        <article class="bestOfTheWeek">
            <div class="coutOfArticle">
                <a href=""><img src="/img/littleTony.png" alt="">
                </a>
            </div>
            <div class="textOfTopArticles">
                <span>
                    <a href="#">Yfpdfybt rfrfr fr fr</a>

                </span>

            </div>
            <div class="clr"></div>

        </article>

        <article class="calendar">
            <div class="calendarData">

                <ul>
                    <li class="month">Апрель</li>
                    <li class="numberOfMonth">5</li>
                    <li class="year">2018</li>
                </ul>

            </div>
            <div class="nameOfCalendar">
                <h2><a href="">МакГрегор Хабиб</a></h2>
            </div>

        </article>

        <article class="calendar">
            <div class="calendarData">

                <ul>
                    <li class="month">Апрель</li>
                    <li class="numberOfMonth">5</li>
                    <li class="year">2018</li>
                </ul>

            </div>
            <div class="nameOfCalendar">
                <h2><a href="">МакГрегор Хабиб</a></h2>
            </div>

        </article>

        <article class="calendar">
            <div class="calendarData">

                <ul>
                    <li class="month">Апрель</li>
                    <li class="numberOfMonth">5</li>
                    <li class="year">2018</li>
                </ul>

            </div>
            <div class="nameOfCalendar">
                <h2><a href="">МакГрегор Хабиб</a></h2>
            </div>

        </article>




    </aside>



</div>


</body>

<% include ../helpers/footer.ejs%>

</html>