<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>


<div class="commonBlock newsSpecialPage">

    <h1>
        Morning Report: Firas Zahabi says ‘no doubt about it’ Georges St-Pierre is the greatest fighter of all-time
    </h1>
    <div class="mainBlock mainContent">

        <main class="detailNews">
            <div class="textOnDetailNews">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi architecto assumenda consequatur doloremque doloribus, error et excepturi facilis fugiat impedit iure laudantium minima modi nemo neque quae temporibus voluptatem. Amet doloremque ea eos minus quaerat quam quia quidem quod rerum ullam ut, vel veritatis voluptates? Alias at consectetur consequatur corporis dicta distinctio ducimus ea earum facilis, iusto maiores neque nobis, quos reiciendis repellat repellendus veritatis. Accusantium ad, at aut autem beatae culpa cum cumque debitis eos et eveniet expedita id impedit iure laudantium nisi obcaecati porro quisquam ratione rem reprehenderit, sint sit soluta sunt tempore temporibus ullam? Aut, inventore?

                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi architecto assumenda consequatur doloremque doloribus, error et excepturi facilis fugiat impedit iure laudantium minima modi nemo neque quae temporibus voluptatem. Amet doloremque ea eos minus quaerat quam quia quidem quod rerum ullam ut, vel veritatis voluptates? Alias at consectetur consequatur corporis dicta distinctio ducimus ea earum facilis, iusto maiores neque nobis, quos reiciendis repellat repellendus veritatis. Accusantium ad, at aut autem beatae culpa cum cumque debitis eos et eveniet expedita id impedit iure laudantium nisi obcaecati porro quisquam ratione rem reprehenderit, sint sit soluta sunt tempore temporibus ullam? Aut, inventore?

                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi architecto assumenda consequatur doloremque doloribus, error et excepturi facilis fugiat impedit iure laudantium minima modi nemo neque quae temporibus voluptatem. Amet doloremque ea eos minus quaerat quam quia quidem quod rerum ullam ut, vel veritatis voluptates? Alias at consectetur consequatur corporis dicta distinctio ducimus ea earum facilis, iusto maiores neque nobis, quos reiciendis repellat repellendus veritatis. Accusantium ad, at aut autem beatae culpa cum cumque debitis eos et eveniet expedita id impedit iure laudantium nisi obcaecati porro quisquam ratione rem reprehenderit, sint sit soluta sunt tempore temporibus ullam? Aut, inventore?

                </p>
                <p>
                    <cite>https://www.mmafighting.com</cite>
                </p>

            </div>
            <img class="mainImgOnDetailNews" src="/img/testNews.jpg" alt="">

            <hr>
            <h3 class="newNews">Похожие</h3>
            <article>
                <div class="articleOnMain">
                    <div class="imageOnMainArticle">
                        <a href="#">
                            <img src="/img/khabibMiddle.jpg"
                                 alt="">
                        </a>
                    </div>

                    <div class="textOnMainArticle">
                        <div class="dataAndTagMain">
                            <div class="data">data</div>
                            <div class="tag">tag</div>
                        </div>
                        <h2>
                            <a href="#">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                            </a>
                        </h2>


                    </div>

                </div>
            </article>
            <article>
                <div class="articleOnMain">
                    <div class="imageOnMainArticle">

                        <a href="#">
                            <img src="/img/khabibMiddle.jpg"
                                 alt="">
                        </a>
                    </div>

                    <div class="textOnMainArticle">
                        <div class="dataAndTagMain">
                            <div class="data">data</div>
                            <div class="tag">tag</div>
                        </div>
                        <h2>
                            <a href="#">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                            </a>
                        </h2>

                    </div>

                </div>
            </article>
            <article>

                <div class="articleOnMain">
                    <div class="imageOnMainArticle">
                        <a href="#">
                            <img src="/img/khabibMiddle.jpg"
                                 alt="">
                        </a>
                    </div>

                    <div class="textOnMainArticle">
                        <div class="dataAndTagMain">
                            <div class="data">data</div>
                            <div class="tag">tag</div>
                        </div>
                        <h2>
                            <a href="#">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                            </a>
                        </h2>


                    </div>

                </div>

            </article>
            <hr>

            комменты от вк

        </main>

        <aside class="onlyNewsRightMenu">
            <div class="nameOfAsideRight">
                <!--<div>Календарь</div>-->
                <!--<div>Бойцы</div>-->
                популярное
            </div>
            <div class="centerBlock">

                <div class="scrollRightMenu ">
                    <article>
                        <div class="video">
                            <div class="videoImg">
                                <a href="">
                                    <img src="/img/khabibMiddle.jpg" alt="">
                                </a>
                            </div>
                            <div class="nameOfVideo">


                                <h2>
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum,
                                        impedit.
                                    </a>
                                </h2>


                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="centerBlock">



                <div class="scrollRightMenu ">

                    <article>
                        <div class="video">
                            <div class="videoImg">
                                <a href="">
                                    <img src="/img/khabibMiddle.jpg" alt="">
                                </a>
                            </div>
                            <div class="nameOfVideo">


                                <h2>
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum,
                                        impedit.
                                    </a>
                                </h2>


                            </div>
                        </div>
                    </article>


                </div>
            </div>
        </aside>

        <div class="clr"> </div>
    </div>

</div>


</body>

<% include ../helpers/footer.ejs%>

</html>