<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>

<div class="specialBlockForDetailPage">


    <div class="titleCommon">
    <span>
    имя бойца
    </span>
    </div>


    <div class="mainBlock detailFighters">


        <!--<div class="nameOfFighterDetail">-->
            <!--<p>Тони фергюссон</p>-->
        <!--</div>-->

        <div class="infoAboutFighterDetail">
            <div class="imgOfFighter">
                <img src="/img/Khabib-Nurmagomedov_232925_RightFullBodyImage.png" alt="">
            </div>

            <div class="detailInfo">


                <div class="weightHeightCat">
                    <span class="uppercaseMainLabel">Дата рождения : </span><span>123 123 21 3</span><br>
                    <span class="uppercaseMainLabel">Возраст : </span><span> 34 </span>


                    <div class="insideThreeBlock">
                            <div><p class="uppercaseMainLabel">рост</p>
                                <div class="">
                                    <span class="secondPar">61 кг </span><br>
                                    145 lbs
                                </div>
                            </div>
                            <div><p class="uppercaseMainLabel">вес</p>
                                <div class="">
                                    <span class="secondPar">61 кг </span><br>
                                    145 lbs
                                </div>
                            </div>
                            <div><p class="uppercaseMainLabel">весовая категория</p>
                                <div class="">
                                    <span class="secondPar">61 кг </span> <br>
                                    145 lbs
                                </div>
                            </div>
                    </div>
                    <div class="recordOfFighter">
                        <span class="record"> рекорд </span>
                        <span class="record">1-2-3-4</span>
                    </div>

                </div>


                <script>
                    window.onload = function () {
                        let num =5;
                        let chart = new CanvasJS.Chart("chartContainer", {
                            exportEnabled: true,
                            animationEnabled: true,

                            legend:{
                                cursor: "pointer",
                                itemclick: explodePie
                            },
                            toolbar: false,
                            data: [{
                                type: "pie",
                                // showInLegend: true,
                                startAngle: 60,
                                toolTipContent: "{name}: <strong>{y}%</strong>",
                                indexLabel: "{name} - {y}%",
                                dataPoints: [
                                    { y: 26, name: `побед нокаутом ${num}`, exploded: true,color:'#3cff00' },
                                    { y: 20, name: "побед сабмишеном",color:'#61ff00' },
                                    { y: 20, name: "побед решением",color:'#96ff00' },
                                    { y: 5, name: "без результата",color:'#77806d' },
                                    { y: 3, name: "проиграно нокаутом",color:'#ff0900' },
                                    { y: 3, name: "проиграно решением",color:'#ff2800' },
                                    { y: 7, name: "проиграно сабмишеном",color:'#ff4900' },
                                    { y: 17, name: "ничьи",color:'#5c5044' }
                                ]
                            }]
                        });
                        chart.render();
                    }

                    function explodePie (e) {
                        if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
                        } else {
                            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
                        }
                        e.chart.render();

                    }
                </script>

                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>
        </div>



        <div class="nextFightName"> Следующий бой</div>

        <div class="nextFight">

            <div class="imgNextFight">

                <div class="nameOfNextEvent">
                    UFC
                </div>

                <ul>
                    <li>
                        <img src="/img/littleTony.png" alt="">

                        <ul>
                            <li> Орловский </li>
                            <li> Рекорд    </li>
                            <li>  </li>
                        </ul>
                    </li>

                    <li class="versusDetail"> VS </li>

                    <li>
                        <img src="/img/littleTony.png" alt="">

                        <ul>
                            <li>Орловский </li>
                            <li>Орловский </li>
                            <li>Орловский </li>
                        </ul>

                    </li>
                </ul>

                <div class="watchAllCard">
                    Смотреть весь кард
                </div>

            </div>


        </div>


        <!--<div class="nextFightName">-->
        <!--Биография-->

        <!--</div>-->
        <!--<div class="biographyText">-->
        <!--Lorem ipsum dolor sit amet, consectetur-->
        <!--adipisicing elit. Corporis delectus-->
        <!--deserunt dignissimos dolorem doloremque ducimus-->
        <!--in laudantium magnam magni maxime-->
        <!--, mollitia necessitatibus nostrum-->
        <!--obcaecati officiis omnis-->
        <!--porro quas, reiciendis rerum!        </div>-->

        <div class="nextFightName">
            История боев
        </div>

        <div class="historyOfFights">

            <table class="historyOfFightsTable">
                <tr>
                    <th>Результат</th>
                    <th>Соперник</th>
                    <th>Событие/Судья</th>
                    <th>Р</th>
                    <th>Время</th>
                    <th>Видео</th>
                </tr>
                <tr>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                    <td>January</td>
                </tr>
            </table>

        </div>

    </div>



    <aside>

        <div class="rightMenu ">

            <!--<div class="nameOfAsideRight">-->
            <div>Календарь</div>
            <div>Бойцы</div>
            <!--популярное-->
            <!--</div>-->


        </div>

        <article class="bestOfTheWeek">
            <div class="coutOfArticle">
                <a href=""><img src="/img/littleTony.png" alt="">
                </a>
            </div>
            <div class="textOfTopArticles">
                <span>
                    <a href="#">Yfpdfybt rfrfr fr fr</a>

                </span>

            </div>
            <div class="clr"></div>

        </article>

        <article class="calendar">
            <div class="calendarData">

                <ul>
                    <li class="month">Апрель</li>
                    <li class="numberOfMonth">5</li>
                    <li class="year">2018</li>
                </ul>

            </div>
            <div class="nameOfCalendar">
                <h2><a href="">МакГрегор Хабиб</a></h2>
            </div>

        </article>

        <article class="calendar">
            <div class="calendarData">

                <ul>
                    <li class="month">Апрель</li>
                    <li class="numberOfMonth">5</li>
                    <li class="year">2018</li>
                </ul>

            </div>
            <div class="nameOfCalendar">
                <h2><a href="">МакГрегор Хабиб</a></h2>
            </div>

        </article>

        <article class="calendar">
            <div class="calendarData">

                <ul>
                    <li class="month">Апрель</li>
                    <li class="numberOfMonth">5</li>
                    <li class="year">2018</li>
                </ul>

            </div>
            <div class="nameOfCalendar">
                <h2><a href="">МакГрегор Хабиб</a></h2>
            </div>

        </article>




    </aside>



</div>


</body>

<% include ../helpers/footer.ejs%>

</html>