<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>


<div class="commonBlock fightersSpecialPage">


    <div class="titleCommon">
        <span>
            бойцы
        </span>
    </div>

    <div class="mainBlockFighters">



        <div class="filterFighters">
            <div class="btn btn-danger lg promotionOfFigter">ufc</div>
            <div class="btn btn-dark promotionOfFigter">bellator</div>
            <div class="btn btn-dark promotionOfFigter">acb</div>
        </div>

        <div class="weightInList">


            <div class="btn weightIn">весовая категория : </div>
            <div class="btn btn-primary btn weightIn">123</div>
            <div class="btn btn-dark">123</div>
            <div class="btn btn-dark weightIn">123</div>
            <div class="btn btn-dark weightIn">123</div>
        </div>



        <div class="searchFighters">
            <input placeholder="Введите имя бойца" class="form-control" type="search">
        </div>

        <!--<div class="weightCat">-->
        <!--<div class="promotions">-->
        <!--<div class="btn btn-primary btn-lg promotion">ufc</div>-->
        <!--<div class="btn btn-default btn-lg promotion">bellator</div>-->
        <!--<div class="btn btn-default btn-lg promotion">acb</div>-->
        <!--<div class="btn btn-default btn-lg promotion">m1 global</div>-->
        <!--</div>-->

        <!--<div class="man">-->
        <!--<div class="btn btn-info btn-lg promotion">ufc</div>-->
        <!--<div class="btn btn-default btn-lg promotion">bellator</div>-->
        <!--<div class="btn btn-default btn-lg promotion">acb</div>-->
        <!--<div class="btn btn-default btn-lg promotion">acb</div>-->
        <!--<div class="btn btn-default btn-lg promotion">acb</div>-->
        <!--<div class="btn btn-default btn-lg promotion">acb</div>-->
        <!--<div class="btn btn-default btn-lg promotion">acb</div>-->
        <!--<div class="btn btn-default btn-lg promotion">m1 global</div>-->
        <!--</div>-->

        <!--<div class="women">-->
        <!--<div class="btn btn-info btn-lg promotion">ufc</div>-->
        <!--<div class="btn btn-default btn-lg promotion">bellator</div>-->
        <!--<div class="btn btn-default btn-lg promotion">bellator</div>-->
        <!--<div class="btn btn-default btn-lg promotion">bellator</div>-->
        <!--<div class="btn btn-default btn-lg promotion">bellator</div>-->
        <!--<div class="btn btn-default btn-lg promotion">bellator</div>-->
        <!--<div class="btn btn-default btn-lg promotion">acb</div>-->
        <!--<div class="btn btn-default btn-lg promotion">m1 global</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="chemp">-->
        <!--<a href="">-->
        <!--<div class="nameOfWeightCat">-->
        <!--Light heavyweight <br>-->
        <!--title holder-->
        <!--</div>-->
        <!--<div class="borderAroundFighter">-->
        <!--<img src="/img/littleHabib.png" alt="">-->

        <!--</div>-->

        <!--<div class="infoAboutFighter chempInfo">-->
        <!--<ul>-->
        <!--<li>Имя Фамилия</li>-->
        <!--<li>Рекорд</li>-->
        <!--<li>Страна</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->



        <div class="contenders">

            <ul>

                <li>
                    <a href="">
                        <img src="/img/littleTony.png" alt="">
                        <div class="infoAboutFighter">
                            <ul>
                                <li>Имя Фамилия</li>
                                <li>Рекорд</li>
                                <li>Страна</li>
                            </ul>
                        </div>
                    </a>

                </li>
                <li>
                    <img src="/img/littleTony.png" alt="">
                    <div class="infoAboutFighter">
                        <ul>
                            <li>Имя Фамилия</li>
                            <li>Рекорд</li>
                            <li>Страна</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <img src="/img/littleTony.png" alt="">
                    <div class="infoAboutFighter">
                        <ul>
                            <li>Имя Фамилия</li>
                            <li>Рекорд</li>
                            <li>Страна</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <img src="/img/littleTony.png" alt="">
                    <div class="infoAboutFighter">
                        <ul>
                            <li>Имя Фамилия</li>
                            <li>Рекорд</li>
                            <li>Страна</li>
                        </ul>
                    </div>
                </li>


                <li>
                    <img src="/img/littleTony.png" alt="">
                    <div class="infoAboutFighter">
                        <ul>
                            <li>Имя Фамилия</li>
                            <li>Рекорд</li>
                            <li>Страна</li>
                        </ul>
                    </div>
                </li>


                <li>
                    <img src="/img/littleTony.png" alt="">
                    <div class="infoAboutFighter">
                        <ul>
                            <li>Имя Фамилия</li>
                            <li>Рекорд</li>
                            <li>Страна</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>


</div>


</body>

<% include ../helpers/footer.ejs%>

</html>