<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>


<div class="mainBlock mainContent">

    <!--<div class="titleCommon">-->
    <!--<span>трансляции</span>-->
    <!--</div>-->

    <div class="streams allFightsFighters">

        <div class="listOfStream">

            <div class="linksOfStream">
                <div class="btn btn-primary btn-lg promotion">link1</div>
                <div class="btn btn-default btn-lg promotion">link1</div>
                <div class="btn btn-default btn-lg promotion">link1</div>
            </div>

            <div class="stream">



                <div class="imgOfStreams">
                    <img src="/img/testNews.jpg" alt="">
                </div>
                <div class="descOfStream">
                    <hr>
                    чатик + сам стрим
                    описание
                </div>
            </div>

        </div>
    </div>

</div>


</body>

<% include ../helpers/footer.ejs%>

</html>