<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>


<div class="commonBlock specialPageVideo">


    <div class="mainBlock videoMainBlock">


        <div class="searchVideo">
            <input type="search" class="form-control">
        </div>


        <div class="titleCommon">
        <span>
            Примечательные бои
        </span>
        </div>

        <div class="fights">
            <div class="blockVideo">
                <div class="videoImg">
                    1
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>


            <div class="blockVideo">
                <div class="videoImg">
                    1
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    1
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    1
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    1
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

        </div>

        <div class="titleCommon">
        <span>
            бои года
        </span>
        </div>

        <div class="fights">
            <div>Lorem ipsum dolor.</div>
            <div>Amet eaque, neque.</div>
            <div>Perspiciatis sapiente, sed?</div>
            <div>Aspernatur, dolor, mollitia?</div>
            <div>Beatae eius, quo?</div>

        </div>


        <div class="titleCommon">
        <span>
            ufc 123
        </span>
        </div>

        <div class="fights">
            <div>Lorem ipsum dolor.</div>
            <div>Amet eaque, neque.</div>
            <div>Perspiciatis sapiente, sed?</div>
            <div>Aspernatur, dolor, mollitia?</div>
            <div>Beatae eius, quo?</div>

        </div>


        <div class="titleCommon">
        <span>
           ufc 321
        </span>
        </div>

        <div class="fights">
            <div>Lorem ipsum dolor.</div>
            <div>Amet eaque, neque.</div>
            <div>Perspiciatis sapiente, sed?</div>
            <div>Aspernatur, dolor, mollitia?</div>
            <div>Beatae eius, quo?</div>

        </div>


    </div>

</div>


</body>

<% include ../helpers/footer.ejs%>

</html>