<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

    <% include ../helpers/header.ejs%>

<body>


<div class="commonBlock specialPageVideo">


    <div class="mainBlock videoMainBlock">



        <div class="filter">

            <div class="nameOfFilter">
                Фильтр видео
            </div>

            <div class="filterFlex">
                <div class="insideFilterBlock">Ивенты
                    <select class="form-control">

                        <option>

                        </option>
                        <option>
                            самые кассовые
                        </option>
                        <option>
                            последние ивенты
                        </option>

                        <option>
                            m1 global
                        </option>
                    </select>
                </div>
                <div class="insideFilterBlock">бои года</div>
                <div class="insideFilterBlock">ближайший ивент
                    <select class="form-control">
                        <option>
                            ufc
                        </option>
                        <option>
                            bellator
                        </option>
                        <option>
                            acb
                        </option>
                        <option>
                            m1 global
                        </option>
                    </select>
                </div>
                <div class="insideFilterBlock">по бойцу

                </div>

            </div>

        </div>

        весовая категория
        <br>

        <!--<div class="titleCommon">-->
        <!--<span>-->
            <!--архив ивентов-->
        <!--</span>-->
        <!--</div>-->



        <!--<div class="searchVideo">-->
            <!--<input type="search" class="form-control">-->
        <!--</div>-->


        <div class="fights">
            <div class="blockVideo">
                <div class="videoImg"><a href="">
                        <img src="/img/khabibMiddle.jpg" alt="">
                    </a>
                </div>
                <div class="textOfVideo">
                    <h2><a href="">Lorem ipsum dolor.</a></h2>

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

        </div>

        <div class="titleCommon">
        <span>
            архив номерных событий ufc
        </span>
        </div>

        <div class="fights">
            <div class="blockVideo">
                <div class="videoImg"><a href="">
                        <img src="/img/khabibMiddle.jpg" alt="">
                    </a>
                </div>
                <div class="textOfVideo">
                    <h2><a href="">Lorem ipsum dolor.</a></h2>

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

            <div class="blockVideo">
                <div class="videoImg">
                    <img src="/img/khabibMiddle.jpg" alt="">
                </div>
                <div class="textOfVideo">
                    Lorem ipsum dolor.

                </div>
            </div>

        </div>

    </div>

</div>


</body>

<% include ../helpers/footer.ejs%>

</html>